extends ./layout/layout.pug

block content
  
  <div class="tab-content my-5" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
      <div class="container">
        include ./content/home.pug
      </div>
    </div>
    <div class="tab-pane fade" id="progress" role="tabpanel" aria-labelledby="progress">
      <div class="container">
        include ./content/progress.pug
      </div>
    </div>
    <div class="tab-pane fade" id="completed" role="tabpanel" aria-labelledby="completed">
      <div class="container">
        include ./content/completed.pug
      </div>
    </div>
  </div>
