@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
html {
  font-family: 'PT Sans', sans-serif;
}

body {
  background-color: #e5eff5; /*#ffffff /*#ADEFD1FF /*#00203FFF;*/
  font-family: inherit;
  font-size: 14px;
}

.navbar {
  padding: 2px;
}

h3 {
  font-size: 24px;
  font-weight: 800;
}

#tasks {
  width: max-content;
  height: 100vh;
  margin-top: 60px;
}

#task, #completed, #progress {
  background-color: #4a8fdd;
  overflow: scroll;
  width: 90vw;
  scrollbar-width: none;
  height: min-content;
}

.required::after {
  content: " *";
  color: #e60000;
}

.list-group-item:first-child {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.list-group-item:last-child {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.round {
  border-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.mine-bg {
  background-color:  #FFFFFF /* #4a8fdd /*#00203FFF /*#738290 /*333745/*#101820FF ; /*#00203FFF;*/
}

select {
  border: none;
  background-color: #FFFFFF;
  padding-right: 5px;;
}

.form-control {
  border-radius: 25px;
  font-size: 14px;
}

::-webkit-scrollbar {
    width: 0px;
}

@media (min-width: 720px) {

  body {
    font-size: 16px;
  }

  h3 {
    font-size:28px;
    font-weight: 800;
  }

  #tasks {
    margin-left: auto;
    margin-top: 10px;
    margin-right: auto;
    max-height: 90vh;
  }

  #task, #completed, #progress {
    background-color: #4a8fdd;
    overflow-x: hidden;
    width: 60vw;
    max-height: 90vh;
    min-height: min-content;
  }

  .form-control {
    font-size: 16px;
  }

}

@media (min-width: 960px) {

   #lg-none {
    display: none;
  }

  #task, #completed, #progress {
    background-color: #4a8fdd;
    overflow-x: hidden;
    width: 30vw;
    max-height: 90vh;
    min-height: min-content;
  }
}
