<nav class="navbar fixed-top navbar-light bg-light border border-bottom justify-content-around">
  <h5 class="text-dark">Productivity</h5>
  <a class="nav-link" href="#" id="lg-none">List</a>
  <a class="nav-link" href="#progress" id="lg-none">In-progress</a>
  <a class="nav-link" href="#completed" id="lg-none">Completed</a>
</nav>
